body{
	padding-bottom: 20px;
}

.jumbotron{
	background-color: #21618C;
	height: 375px;
	padding-bottom: 300px;
}

#coverHeader{
	color: white;
	text-align: right;
	margin-top: 100px;
}

#coverLogo{
	height: 196px;
	width: 200px;
}

#forgotPw{
	padding-top: 10px;
}

.navLogo{
	height: 30px;
	width: 30px;
}

.navbar{
	height: 60px;
}

#pwordForm{
	padding-top:30px;
}

.goodStatus{
	font-style: italic;
	color: green;
	padding-top:10px;
}

.badStatus{
	font-style: italic;
	color: maroon;
	padding-top:10px;
}

#sigImg{
	border: black 1px solid;
}