body{
	padding-bottom: 20px;
}

.jumbotron{
	background-color: #21618C;
	height: 375px;
	padding-bottom: 300px;
}

#coverHeader{
	color: white;
	text-align: right;
	margin-top: 100px;
}

#coverLogo{
	height: 196px;
	width: 200px;
}

#forgotPw{
	padding-top: 10px;
}

.navLogo{
	height: 30px;
	width: 30px;
}

.navbar{
	height: 60px;
}

#pwordForm{
	padding-top:30px;
}

.goodStatus{
	font-style: italic;
	color: green;
	padding-top:10px;
}

.badStatus{
	font-style: italic;
	color: red;
	padding-top:10px;
}

#sigImg{
	border: black 1px solid;
}

table, th{
	text-align: center;
}

.modal{
	max-width: 70%;
	margin: auto;
}

.optionItem{
	color: black;
}

.closeBtn:link{
	color: salmon;
}

.closeBtn:hover{
	color: IndianRed;
}

.myList{
	margin-top: 20px;
}

.inset{
	padding-left: 30px;
}

.totalTitle{
	font-weight: bold;
	font-size: 150%;
	padding-top: 30px;
}

.datePickerRow{
	padding-top:40px;
}

